Importing important libraries

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

Reading the datasets

In [ ]:
df=pd.read_csv("/content/kolkataaugust.csv")

In [ ]:
df1=pd.read_csv("/content/mumbaiaugust.csv")

In [ ]:
df

In [ ]:
df1

Plotting the line chart of Date vs High Temperature

In [ ]:
plt.plot(df['Date'],df['High_Temperature'])


plt.title("Date vs High Temperature",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("High Temp. in degree celcius",fontsize=15)

Plotting the line chart of Date vs Low Temperature

In [ ]:
plt.plot(df['Date'],df['Low_Temperature'])


plt.title("Date vs Low Temperature",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Low Temp. in degree celcius",fontsize=15)

Plotting the line chart of Date vs Precipitation

In [ ]:
plt.plot(df['Date'],df['Precipitation'])


plt.title("Date vs Precipitation",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Precipitation in mm",fontsize=15)

Plotting the line chart of Date vs High Temperature & Date vs Low Temperature

In [ ]:
plt.subplot(2,1,0)
plt.plot(df['Date'],df['High_Temperature'])


plt.title("Date vs High Temperature",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("High Temp. in degree celcius",fontsize=15)

plt.show()



plt.subplot(2,1,1)
plt.plot(df['Date'],df['Low_Temperature'])


plt.title("Date vs Low Temperature",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Low Temp. in degree celcius",fontsize=15)

plt.show()

Plotting the line chart of Date vs Precipitation for Kolkata & Date vs Precipitation Mumbai.

In [ ]:
plt.subplot(2,1,1)
plt.plot(df['Date'],df['Precipitation'])


plt.title("Kolkata",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Precipitation",fontsize=15)

plt.show()



plt.subplot(2,1,2)
plt.plot(df1['Date'],df1['Precipitation'])


plt.title("Mumbai",fontsize=20)
plt.xlabel("Date",fontsize=15)
plt.ylabel("Precipitation",fontsize=15)

plt.show()